# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\学习文件\2020_2023_研究生\研究生_竞赛\20210310_华为软件精英挑战赛\HuaweiCodeCraft2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
